.flex-row
	display: flex
.flex-col-1
	flex: 0 0 10%
.flex-col-25
	flex: 0 0 25%
.flex-col-3
	flex: 0 0 30%
.flex-col-45
	flex: 0 0 45%
.flex-col-5
	flex: 0 0 50%
.flex-col-6
	flex: 0 0 60%
.flex-col-7
	flex: 0 0 70%

.bordered
	padding: 8px
	border: solid 1px black

#action
	#account-data
		display: none
	#account-data
	#account-data td
		border: solid 1px black
	#purchase
		#price-container
			margin-bottom: 20px
		#purchase-case
			justify-content: space-between
			margin-bottom: 20px
		#choose-team
			margin-bottom: 20px
		#affiliate
			margin-bottom: 20px
	#vault
		.value
			padding-right: 8px
			text-align: right
		.unit
			text-align: right
		#withdraw
			margin-top: 12px
	#referral
		#referral-url
			max-width: 300px
			overflow: auto
			white-space: nowrap
			font-size: 10px