extends ./layout
append details-content
	.container
		h3 Contract will drain in
		.row
			p.restTime
			p &nbsp SEC
	.container
		h3 Active Pot
		.row
			p.potMoney
			p  &nbsp ETH
	.container
		h3 Your key
		p.plyrKeys
	.container
		h3 Your Earning
		.row
			p.plyrEarnings
			p &nbsp ETH
	.container
		h3 TEAM
		.row
			#team-whales.team
				h4 Whales
				.row
					p.earning
					p &nbsp ETH
			#team-bears.team
				h4 Bears
				.row
					p.earning
					p &nbsp ETH
		.row
			#team-bulls.team
				h4 Bulls
				.row
					p.earning
					p &nbsp ETH
			#team-sneks.team
				h4 Sneks
				.row
					p.earning
					p &nbsp ETH

block append action-content
	span player ID:
	input#player-id(type='number' disabled)
	br
	span 鑰匙價格 :
	input#key-price(type='number' disabled)
	span Wei
	br
	span 鑰匙數量 :
	input#key-number(type='number' name='keyNumber' value='1')
	br
	span 價格 :
	span#total-price
	span ETH
	br
	span 推薦人地址 :
	input#affiliate-address(type='text')
	br
	span 選擇隊伍
	br
	input(type='radio' name='team' value='2' checked)
	span Snek
	input(type='radio' name='team' value='0')
	span Whale
	input(type='radio' name='team' value='3')
	span Bull
	input(type='radio' name='team' value='1')
	span Bear
	br
	br
	button#buy-key Buy
	br
	br
	h3 Vault
	span Total Gains :
	span#total-gains
	span  ETH
