doctype html
html(lang='zh-TW')
	head
		title ＦＯＭＯ3Ｄ
		block head_meta
			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport", content="width=device-width, initial-scale=1")
		block head_style
			link(href="index.css", rel="stylesheet")
	body
		#root
			.head
				div
					h3 剩餘時間:
					h3.restTime
					h3 sec
				div
					h3 池內金錢
					h3.potMoney
					h3 eth
			.content
				.action
					block action-content
						h1 ACTION
				.details
					block details-content
						h1 DETAILS

		block body_scripts
			script(src='https://code.jquery.com/jquery-3.3.1.min.js')
			script(src='https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js')
			script(src='action.js')
			script(src="index.js")
